.app {
    display: flex;
    background-color: rgb(243, 244, 244);
    color: #203e51;
}

.app .side-margin {
    flex: 3;
}

.app .main-content {
    flex: 9;
    font-size: 2em;
    min-height: 100vh;
}

@media screen and (max-width: 1000px) {
    .app .side-margin {
        flex: 1;
    }
}
