.article.highlightable * span.word:hover {
    background-color: lightblue;
    outline: 1px solid blue;
    cursor: pointer;
}

.article.highlightable *:not(tbody):not(tr):not(td):not(div):not(ul):not(span):hover:not(:has(span:hover)) {
    outline: 1px solid blue;
    background-color: lightcyan;
    cursor: pointer;
}

.article *:not(div):not(span) {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.5em 0.2em;
}

.article ul {
    margin-left: 1em;
}

.article table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 50px;
}

.article table td {
    padding: 0.5em;
    border: 1px solid black;
}